<% include ../layouts/header.ejs %>
<% include ../layouts/navbar.ejs %>


<div class="container">

<div class="jumbotron"> 
<center>
			<h1><%= module_name %></h1>
			<p><%= module_description %></p>
</center>
</div>


  <div class="column">      
	<div class="column">
		<div class="panel panel-warning">
			<div class="panel-heading">
				<h3 class="panel-title">Results</h3>
			</div>
			<div class="panel-body">
				<% if(module_test.state == "NOT_STARTED"){ %>
				This module appears to be new to the system. Please run the test, to view the results.
				<% } if(module_test.state == "ERROR"){ %>
				The last time this module was run, it ran in to an error. Please re-run the test to get some results. And yea, Good Luck with that.
				<% } if(module_test.state == "COMPLETED"){%>
				<%- module_results.raw %>
				<% } %>
				
			</div>
		</div>
	</div>
	
	<div class="column">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">User Script (<%=module_test._type%>) </h3>
			</div>
			<div class="panel-body">
				<pre>
					<code>
<%= module_test.userScript %>
					</code>
				</pre>
			</div>
		</div>
	</div>	

	
	<div class="column">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Enum Data (<%=module_test._type%>) </h3>
			</div>
			<div class="panel-body">
				<pre>
					<code>
<%= module_test.enum_data %>
					</code>
				</pre>
			</div>
		</div>
	</div>	

	
	<div class="column">
		<form id="test-form" action="/modules/run" target="_blank" method="GET">
		<input type="hidden" name="id" value="<%= module_id %>"/>
		<p><a class="btn btn-danger" onClick="document.getElementById('test-form').submit();">Run Test</a></p>
		</form>
	</div>  

</div>

</div><!-- /.container -->


</body>	
<% include ../layouts/footer.ejs %>