<!DOCTYPE html>
<html>
<head>
<title>
Testing <%= module_name %>
</title>
<script type="text/javascript" src="/public/js/results.js"> </script>
</head>

<body>
<textarea id="user_script" style="display:none;">
<html>
<head>
<title>
Testing with IFRAME
</title>
<script src="/public/js/results.js"> </script>
</head>
<body>
<h1>Testing</h1>
</body>
<script>
// Our code

var addResult = function(){
	top.window.st.addResult(arguments);
return;
}


// The userScript for the Module

<%- module_test.userScript %>

// Our code


</textarea>

<h1>Testing <%= module_name %> </h1>
<script>

var browser = "undetected";
var browser_name = "undetected";
var is_chrome = navigator.userAgent.toLowerCase().indexOf('chrome') > -1;
if (is_chrome){
	browser = "GOOGLE_CHROME";
	browser_name = "Google Chrome";
}

var st = new simpleTable('<img src="/public/imgs/browser-logos/'+ browser +'.png" />' ,2, [{type: 'string', value: 'Property Tested'}, {type: 'boolean', value: 'Overriding/Hooking allowed?'}]);

var userScript = document.getElementById('user_script').innerText;

function newIframe(injectMe){
	var iframe = document.createElement('iframe');
	iframe.onload = function(){ injectScript(this, injectMe)}
	document.body.appendChild(iframe);
	
return iframe;
}

function removeMe(node){
	return node.parentNode.removeChild(node);
}

function injectScript(iframe, inject){
	iframe.contentWindow.document.write(inject);
}

// The Enum Data for the given module.
<%- module_test.enum_data %>

// Type = Data Enumeration using a test Function
for(x in data){
	var test_call = "test('"+ data[x][0];
	var y;
	for(y=1; y<data[x].length; y++)
		test_call += "', '" + data[x][y] ;
	test_call += "');";
	new_iframe = newIframe(userScript+" " + test_call + "</scr" + "ipt></bod"+ "y></htm"+ "l>");
}

function endTest(){
	var r = new Results('SIMPLE_TABLE', st);
	document.body.innerHTML += r.getHTML();

	var module_id = '<%=module_id%>';
	var xhr = new XMLHttpRequest();
	xhr.open('POST', '/modules/results/update', true);
	xhr.setRequestHeader("Content-type","application/x-www-form-urlencoded");
	xhr.send('_module_id='+module_id+'&_browser='+browser+'&_results_raw='+encodeURIComponent(r.getHTML()));

}

setTimeout(endTest, 3000);

</script>

</body>
</html>